body
{
	text-align: center;	
	background-image: url('back.jpg');
	background-repeat: no-repeat;
}
#finder
{
	margin-top:  30px;
	margin-bottom: 20px;
	width: 500px;
	height: 20px;
}
.input
{
	color: white;
	font-family: "Monospace";
	margin-top: 200px;
}
.input button
{
	height: 30px;
	width: 100px;
}
.input label
{
	font-size: 50px;
}
.output
{
	text-align: center;
}
#img
{
	text-align: center;
}


